/* reset */
@import "_font";
* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  height: auto;
}
/* color */
$color-gray: #777777;
$color-green: #638130;
$color-white: #fff;
$color-black: #000;
$color-pink: #ffefef;
/* end color */
/*typography*/
@mixin NotoSansCJKkr-Thin{
  font-weight: 300;
}
@mixin NotoSansCJKkr-Regular{
  font-weight: 400;
}
@mixin NotoSansCJKkr-Medium{
  font-weight: 500;
}
@mixin NotoSansCJKkr-Bold{
  font-weight: 700;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  @include NotoSansCJKkr-Thin;
  font-size: 13px;
  color: $color-black;
}

/*typography*/
/* header */

@media screen and (min-width: 768px){

}
@media screen and (max-width: 767px){

}
//edit
header{
  position: sticky;
  position: -webkit-sticky;
  height: 82px;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 1px 0 10px rgba(0,0,0,0.1);
}
header .wrapper {
  max-width: 1856px;
  margin: 0 auto;
  position: relative;
}
.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
}
nav{
  ul{
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    li{
      @include NotoSansCJKkr-Medium;
      display: inline-block;
      height: 82px;
      line-height: 82px;
      padding: 0 42px;
      text-align: center;
      font-size: 20px;
      color: $color-gray;
      cursor: pointer;

      &.active{
        @include NotoSansCJKkr-Bold;
        color: $color-green;
        span:after{
          display: block;
        }
      }
    }
    span{
      display: block;
      position: relative;
      &:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background-color: $color-green;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
      }
    }
  }
}

.history-wrapper{
  background: $color-pink;
}
.history-wrapper{
  .block-logo{
    padding: 82px 0 118px;
    text-align: center;
  }
  .block-title{
    margin: 94px 0 56px;
  }
}
.history{
  position: relative;
  background: url("../images/r.png") top right no-repeat;
  padding-top: 80px;
  &:after{
    content: "";
    background: url(../images/l.png) bottom left no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  >div{
    display: inline-block;
    vertical-align: middle;
  }
  .block-left{
    width: 35%;
    text-align: right;
  }
  .block-right{
    width: 55%;
    padding-left: 100px;
    li{
      >div{
        display: inline-block;
        vertical-align: top;
        &:first-child{
          width: 40px;
          position: relative;
          top: 5px;
        }
        &:last-child{
          width: calc(100% - 45px);
          padding-left: 15px;
          font-size: 15px;
          letter-spacing: 0.45px;
        }
      }
    }
  }
  .year{
    img{
      width: auto;
    }
  }
  .content{
    p{
      margin-bottom: 8px;
    }
    .block{
      margin-bottom: 45px;
    }
  }
  .item-2017{
    margin-bottom: 30px;
  }
  .item-2018{
    margin-bottom: 69px;
  }
  .item-2019{
    margin-bottom: 40px;
  }
}
section{
  max-width: 826px;
  margin: 0 auto;
  article{
    &:last-of-type{
      padding-bottom: 100px;
    }
  }
  &.tab1{
    max-width: 1024px;
  }
}
.recruitment,
.department{
  .block-title{
    margin: 98px 0 137px;
  }
}
.block-title{
  text-align: center;
}
.list {
  li{
    border-bottom: 1px solid #eeeeee;
  }
}
.list_tab{
  width: 100%;
  padding: 15px 43px;
  line-height: 1.5em;
  transform: rotate(0.03deg);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  .left{
    padding-right: 30px;
    letter-spacing: 0.15px;
    font-size: 15px;
    @include NotoSansCJKkr-Regular;
  }
  .right{
    position: absolute;
    top: 17px;
    right: 22px;
  }
}
.hidden_slide{
  display: none;
  width: 100%;
  padding: 5px 43px 200px;
  line-height: 1.5em;
  font-size: 13px;
  p{
    margin-bottom: 20px;
    span{
      display: block;
    }
  }
}
.left{
  .label{
    float: left;
  }
}
.box-banner{
  background: url('../images/photo.png') no-repeat;
  background-size: cover;
  text-align: center;
  color: $color-white;
  margin-top: 52px;
  padding: 171px 0 68px;
  >div{
    max-width: 407px;
    margin: 0 auto;
  }
  .box-logo{
    padding: 0 0 35px;
  }
  .box-content{
    font-size: 15px;
    letter-spacing: 0.3px;
    h4{
      @include NotoSansCJKkr-Regular;
      margin-bottom: 38px;
    }
    p{
      margin-bottom: 20px;
    }
  }
}
.recruitment-guide{
  .block-title{
    margin: 64px 0 71px;
  }
  ul{
    &:after{
      content: "";
      display: table;
      clear: both;
    }
    text-align: center;
    li{
      float: left;
      width: 25%;
    }
  }
  .box-button{
    margin: 118px 0 73px;
    text-align: center;
    a{
      @include NotoSansCJKkr-Regular;
      display: inline-block;
      background: url('../images/button.png') no-repeat;
      width: 339px;
      height: 69px;
      line-height: 69px;
      text-align: center;
      color: $color-white;
      letter-spacing: 0.36px;
      font-size: 18px;
    }
  }
  .block-info{
    padding-bottom: 96px;
    border-bottom: 1px solid #b68e4c;
    font-size: 20px;
    letter-spacing: 0.4px;
    .title{
      margin-bottom: 43px;
      @include NotoSansCJKkr-Regular;
    }
    p{
      margin-bottom: 20px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}
.faq{
  h5{
    @include NotoSansCJKkr-Regular;
    letter-spacing: 0.4px;
    font-size: 20px;
    text-align: center;
    padding: 102px 0 62px;
  }
}
.recruitment{
  .left{
    .title{
      padding: 0 10px 0 72px;
    }
  }
  .hidden_slide{
    padding: 5px 80px 200px 104px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
  nav ul{
    max-width: 70%;
    li{
      padding: 0 20px;
    }
  }
  .logo{
    left: 15px;
  }
  section{
    max-width: 92%;
  }
  .history {
    .block-left{

    }
    .block-right{
      padding-left: 50px;
      li > div:first-child{
        top: 2px;
      }
    }
  }
}
@media screen and (max-width: 767px){
  section{
    max-width: 92%;
  }
  nav ul li{
    padding: 0 10px;
    font-size: 15px;
  }
  .logo{
    left: 15px;
  }
  .history{
    .block-left{
      width: 30%;
    }
    .block-right{
      width: 68%;
      padding-left: 50px;
    }
    background-size: 50%;
    &:after{
      background-size: 50%;
    }
  }
  .list_tab{
    padding: 15px 20px;
  }
  .hidden_slide{
    padding: 5px 20px 100px;
  }
}
@media screen and (max-width: 640px){
  header{
    height: auto;
  }
  .logo{
    position: static;
    text-align: center;
    padding-top: 10px;
  }
  nav ul li{
    height: 50px;
    line-height: 50px;
  }
  .recruitment-guide ul{
    margin: 0 -5px;
    li{
      padding: 0 5px;
    }
  }
  .history{
    >div{
      vertical-align: top;
    }
    .block-left{
      width: 135px;
    }
    .block-right{
      width: calc(100% - 140px);
      padding-left: 20px;
    }
  }
}
@media screen and (max-width: 480px){
  .recruitment-guide .box-button a{
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .history{
    >div{
      vertical-align: top;
      width: 100%!important;
      padding-left: 15px;
      padding-right: 15px;
    }
    .block-left{
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .recruitment{
    .left .title {
      padding: 0 10px 0 50px;
    }
    .hidden_slide{
      padding: 5px 80px 100px 70px;
    }
  }
}
@media screen and (max-width: 340px){
  nav ul li{
    padding: 0 5px;
  }
}